.card {
    
    border: 2px solid var(--blue);
  
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1.5rem;
    }
  
    &__title {
      background: var(--blue);
      color: white;
      text-align: center;
      font-size: 1.6rem;
    }

    &__heading {
      text-transform: uppercase;
      font-weight: 700;
      color: var(--blue);
    }

    &__entry {
      font-weight: 400;
      text-transform: none;
      color: var(--grey2);
    }
  
    &__col {
      width: 50%;
      justify-content: space-between ;
  
      &--right {
        & div:not(:first-child) {
          margin: 0.2rem 0;
        }
      }
    }
  }