.card {
    box-shadow: 0 0 2px 3px #d0d0d0;
  
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1.5rem;
    }
  
    &__title {
      background: var(--blue);
      color: white;
      text-align: center;
      font-size: 1.6rem;
    }
  
    &__col {
      width: 50%;
  
      &--right {
        & div:not(:first-child) {
          margin: 0.2rem 0;
        }
      }
    }
  }