.layout {
    display: grid;
    grid-template-columns: minmax(150px, 15%) 1fr;
    max-width: 90em;
  }

  .flex-row {
    display: flex;
  }

  .flex-col {
    display: flex;
    flex-direction : column;
  }