.sidebar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-right: 2px solid var(--blue);

  &__logo {
    width: 100%;
    margin: 0 auto;
    &--logo {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    margin: 0;
    background-color: var(--blue);
    border-bottom: 2px solid var(-- blue);
    border-top: 2px solid white;
  }

  &__nav-link {
    color: white;
    text-decoration: none;
    padding: 0.8445rem 1rem;
    transition: all 0.3s ease;
    font-size: 1rem;
    display: flex;
    align-items: center;
    width: 100%;

    & svg {
      margin-right: 1rem;
    }

    &:hover {
      //   background-color: var(--blue);
      background-color: white;
      color: var(--blue);
    }
  }
}

i {
  margin-right: 1rem;
}

.router-link-exact-active {
  background-color: white;
  color: var(--blue);
}
